.textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 380px;
}

.title {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
    color: #f5f6fa;
    margin: 0;
}

.description {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #aeb8c2;
    margin: 0;
}