.inputWrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #f5f6fa;
    border: none;
    padding: 0 16px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #222327;
    outline: none;
}

.input::placeholder {
    color: #8b97a3;
}

.inputWithToggle {
    padding-right: 40px;
}

.inputError {
    color: #e33a7e;
    border: 2px solid #e33a7e;
    padding: 0 14px;
}

.inputError.inputWithToggle {
    padding-right: 38px;
}

.passwordToggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}