.wrapper {
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

.wrapper>main {
    flex: 1;
}

.pageFallback {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}