.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background: #191a1f;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}