* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "Manrope", sans-serif;
    background: #191a1f;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}