.primaryButton {
    border-radius: 8px;
    width: 74px;
    height: 36px;
    background: #4252ea;
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    color: #f5f6fa;
    transition: opacity 0.2s;
}

.primaryButton:hover {
    opacity: 0.9;
}

.secondaryButton {
    border-radius: 8px;
    width: 141px;
    height: 36px;
    background: #2a2c32;
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    color: #aeb8c2;
    transition: opacity 0.2s;
}

.secondaryButton:hover {
    opacity: 0.8;
}