.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: #191a1f;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 380px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 165px;
  margin-top: calc(40px - 32px);
}

.signInButton {
  padding: 8px 15px;
}

.error {
  color: #ff4444;
  font-size: 14px;
  margin-top: 8px;
}