.aside {
    height: 100dvh;
    background-color: #0e0e11;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 36px;
    padding: 34px 18px;
}

.icons {
    fill: #aeb8c2;
}

.settingsWrapper {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.active {
    background-color: white;
}