.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 380px;
    margin-top: calc(26px - 32px);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 165px;
    margin-top: calc(40px - 32px);
}

.backButton {
    padding: 8px 15px;
}

.submitButton {
    padding: 8px 15px;
}

.error {
    color: #ff4444;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    margin-top: 8px;
}

.success {
    color: #22c55e;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    margin-top: 8px;
}